/*Styling all html page through style.css file*/
/*descries all five HTML elements how to display */
*{
    padding: 0px;
    margin: 0px;/*all four margins are 0px*/
    box-sizing: border-box;
    font-family: arial;
}
body{
    margin: 0px;/*all four margins are 0px*/
    padding: 0px;
	background-color: green;/*backgroud color into green*/
}

ul{
    list-style: none;/*clears boolean mark*/
}
a{
    text-decoration: none;/*clears underline*/
}
#main{/*# is used for id.*/
    width: 100%;/*width set to 100%*/
    height: 100vh;
    position: relative;/*positioned relative to normal position*/
}
nav{
    display: flex;
    justify-content: space-around;/*giving space before after and between items*/
    align-items: center;/*Content positioned at center of the container*/
    position: fixed;
    width: 100%;
    background-color:  black;/*nav bar color change into black*/
}

#toggle{
    display: none;
}
.active{
    background-color: yellow;/*active menu bar*/
}
nav ul{
    display: flex;
}
nav ul li a{
    height: 40px;
    line-height: 43px;
    margin: 3px;/*all four margins are 3px*/
    padding: 0px 22px;/*padding top& bottom 0px and left & lrft 22px*/
    display: flex;/*displayed blocked-lavel flex*/
    font-size: 0.8rem;/*size of font into 8rem*/
    text-transform: uppercase;/*changing all letter into uppercase*/
    color: red;
    letter-spacing: 1px;/*increase 1px space between text*/
}
nav ul li a:hover{
    background-color: green;/*mouse crouser into nav-bar element element background change into green*/
    color: white;
}
.home_content p:nth-child(1){/*describes 1st <p> tag*/
    
    color: red;
    font-size: 22px;
    font-weight: bold;/*thick font*/
}
.home_content p:nth-child(2){/*describes 2nd <p> tag*/
    
    font-weight: bold;
    color: red;
    font-size: 60px;

}

.home_content p{
    line-height: 60px;
    margin: 30px;
}
.home_content{
    position: absolute;/*ancestor element*/
    left: 13%;/*sets left edge position into 13%*/
    top: 42%;

}
.home_content button{
    width: 130px;
    height: 42px;
    border-radius: 10px;/*box corner*/
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    margin: 0px 10px;/*left and right margin sets 10px*/
}
.Download{
    background-color: black;
    color: red;
    border: none;/*removed border*/
}
.image{
	float: right;
    width: 40%;
    padding-top: 18%;/*only padding set for top*/
}

/*cv.html css part*/

.box_resume{
    padding: 35px;
}
.resume_outer{
    width: 810px;
    height: 1000px;
    margin: 30px auto;
}    
.resume_box1{
    background-color: #26252d;
    width: 34%;
    float: left;
    height: 1000px;
}
.content{
    padding: 20px;
}
.resume_box2{
    width: 57%;
    float: left;
    padding: 25px;
    height: 1000px;
    background-color: yellow;
}
.profile{
    width: 100%;
}
h1{
    color: black;
    font-family: system-ui;
    font-weight: 300;    
}
p{
    color: black;
    font-family: system-ui;
    font-weight: 300;
    font-size: 13px;
}
.skills{
    color: #FFFFFF;
}
.intro{
    text-align: center;
}
.intro h1{
    font-size: 40px;
    font-weight: bold;
    color: #26252d;
}
.hr{
    height: 15px;
    border: none;
    background-color: #ceced1;
    margin: -40px 20px;
}

.intro-p{
    color: #0f0808;
    font-family: system-ui;
    font-weight: 400;
    font-size: 17px;
    margin-top: 13%!important;
}
.intro p{
    color: #0f0808;
    font-family: system-ui;
    font-weight: 400;
    font-size: 17px;
    margin-top: -5px;
}
.content-1{
    padding-top: 35px;
}
.head{
    color: #26252d;
    font-family: system-ui;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0px;
}
.para-1{
    font-size: 15px;
    color: #262626;
    font-weight: 400;
    margin-top: 10px;
}
.para-2{
    font-size: 15px;
    color: #262626;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0px;
    text-transform: capitalize;
}



/*contact.html*/
.contact_section{
    width: 100%;
    display: flex;
    justify-content: center;/*items positioned center of container*/
    align-items: center;
    padding: 15%;
}
.contact_info{
    max-width: 550px;
    padding-left: 55px;
    line-height: 70px;
    font-size: 18px;
}
.contact_info i{
    margin-right: 20px;
    font-size: 30px;
}
.contact_form{
    max-width: 800px;
    margin-right: 60px;
}
.contact_info .contact_form{
    flex: 1;    
}
.contact_form h2{
    color: red;
    text-align: center;
    font-size: 37px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.contact_form .text-box{
    width: 45%;
    padding: 14px;
    height: 50px;
    font-size: 17px;
    border-radius: 5px;
    margin-bottom: 20px;
    opacity: 1;
}
.contact_form .text-box:first-child{
    margin-right: 17px;
}
.contact_form textarea{
    width: 100%;
    padding: 14px;
    font-size: 15px;
    min-height: 300px;
    resize: vertical;
    margin-bottom: 30px;
    opacity: 1;
}
.contact_form .send_btn{
    background: royalblue;
    color: snow;
    border: none;
    width: 120px;
    font-size: 16px;
    height: 40px;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
}

/*portfolio*/



.Portfolio_content a img{
    width: 200px;/*width for images*/
    height: 200px;/*height for images*/
}

.Portfolio_content{
    padding: 70px 20px 20px 20px;
    float: left;
}

/*Siterepert css*/

.report_outer{
    width: 810px;
    height: 10000000px;
    margin: 30px auto;
    background-color: white;
} 
.module_exp{
    padding: 50px;
    background-color: white;
    flex: inherit;
}
.type1{
    padding-left: 50px;
}
.type2{
    padding: 50px;
}
.type2 a img{
    width: 200px;
    height: 200px;
}
type3{
    padding-left: 10px;
}







/*media Queries
responsive web design to makes web page look good on all devices.
(desktops, tablets, and phones)*/

@media screen and (max-width:500px) {
    /*define completely different styles for different browser sizes*/
    label{
        display: block;
        cursor: pointer;        
    }
    .menu{
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a{
        display: block;
        border-bottom: 1px solid black;
        margin: 0;
    }
    #toggle:checked + .menu{
        display: block;
    }
.contact_section{
    flex-direction: column;
}
.contact_info .contact_form{
    margin: 35px 52px;
}
.contact_form h2{
    font-size: 33px;
}
.contact_form .text-box{
    width: 100%;
}
}

