*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
	background-color: green;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#main{
    width: 100%;
    height: 100vh;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #21943e;
}
label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 27px;
    float: right;
}
#toggle{
    display: none;
}

nav ul{
    display: flex;
}
nav ul li a{
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #250ea7;
    letter-spacing: 1px;
}
nav ul li a:hover{
    background-color: #000807;
    color: #FFFFFF;
}



.text-container p:nth-child(1){
    font-family: calibri;
    color: #6d6d6d;
    font-size: 22px;
    font-weight: bold;
}
.text-container p:nth-child(2){
    font-family: Calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 60px;

}
.text-container p:nth-child(3){
    font-family: myrid pro regular;
    color: #403e3e;
    font-size: 30px;
    line-height: 30px;
}
.text-container p{
    line-height: 60px;
    margin: 30px;
}
.text-container{
    position: absolute;
    left: 13%;
    top: 42%;

}
.text-container button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}
.down-cv{
    background-color: #0b0b0b;
    color: #FFFFFF;
    border: none;
}
.image{
	float: right;
}

/*cv.html css part*/

.resume_box{
    width: 810px;
    height: 1000px;
    margin: 30px auto;
    background-color: #FFFFFF;
}
.box_outer{
    padding: 35px;
}
.box-1{
    background-color: #26252d;
    width: 34%;
    float: left;
    height: 1000px;
}
.content{
    padding: 20px;
}
.box-2{
    width: 57%;
    float: left;
    padding: 25px;
    height: 1000px;
    background-color: #ffff00;
}
.profile{
    width: 100%;
}
h1{
    color: #ceced1;
    font-family: system-ui;
    font-weight: 300;    
}
p{
    color: #ceced1;
    font-family: system-ui;
    font-weight: 300;
    font-size: 13px;
}
.skills{
    color: #FFFFFF;
}
.intro{
    text-align: center;
}
.intro h1{
    font-size: 40px;
    font-weight: bold;
    color: #26252d;
}
.hr{
    height: 15px;
    border: none;
    background-color: #ceced1;
    margin: -40px 20px;
}

.intro-p{
    color: #0f0808;
    font-family: system-ui;
    font-weight: 400;
    font-size: 17px;
    margin-top: 13%!important;
}
.intro p{
    color: #0f0808;
    font-family: system-ui;
    font-weight: 400;
    font-size: 17px;
    margin-top: -5px;
}
.content-1{
    padding-top: 35px;
}
.head{
    color: #26252d;
    font-family: system-ui;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0px;
}
.para-1{
    font-size: 15px;
    color: #262626;
    font-weight: 400;
    margin-top: 10px;
}
.para-2{
    font-size: 15px;
    color: #262626;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0px;
    text-transform: capitalize;
}



/*contact.html*/
.contact_section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15%;
}
.contact_info{
    columns: rgb(117, 16, 16);
    max-width: 550px;
    padding-left: 55px;
    line-height: 70px;
    font-size: 18px;
}
.contact_info i{
    margin-right: 20px;
    font-size: 30px;
}
.contact_form{
    max-width: 800px;
    margin-right: 60px;
}
.contact_info .contact_form{
    flex: 1;    
}
.contact_form h2{
    color: red;
    text-align: center;
    font-size: 37px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.contact_form .text-box{
    width: 45%;
    padding: 14px;
    height: 50px;
    font-size: 17px;
    border-radius: 5px;
    margin-bottom: 20px;
    opacity: 1;
}
.contact_form .text-box:first-child{
    margin-right: 17px;
}
.contact_form textarea{
    width: 100%;
    padding: 14px;
    font-size: 15px;
    min-height: 300px;
    resize: vertical;
    margin-bottom: 30px;
    opacity: 1;
}
.contact_form .send_btn{
    background: royalblue;
    color: snow;
    border: none;
    width: 120px;
    font-size: 16px;
    height: 40px;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
}

/*portfolio*/
.portfolio{
    display: flex;
    flex-direction: column;
    

}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 360px;
    height: 250px;
    margin: 20px;
    padding: 20px;
}













@media screen and (max-width:500px) {
    label{
        display: block;
        cursor: pointer;        
    }
    .menu{
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a{
        display: block;
        border-bottom: 1px solid black;
        margin: 0;
    }
    #toggle:checked + .menu{
        display: block;
    }
.contact_section{
    flex-direction: column;
}
.contact_info .contact_form{
    margin: 35px 52px;
}
.contact_form h2{
    font-size: 33px;
}
.contact_form .text-box{
    width: 100%;
}
}